
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporlar Sayfası</h1>
<br />
<a href="/Excel/DestinationExcelReport/" class="btn btn-info">Rotalar Excel Raporu</a>
<br />
<br />
<a href="/Excel/DynamicExcelReport/" class="btn btn-success">Dinamik Rota Excel Raporu 2 </a>